.burger {
  display: none;
  border: none;
  background-color: transparent;
}

@media (max-width: $tabletResolution) {
  .burger {
    display: flex;
    width: 24px;
    height: 16px;

    @include reset;

    &:hover {
      cursor: pointer;
    }

    &:active {
      opacity: 0.2;
    }
  }
}
