.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 246px;
  padding: 16.5px 5px;
  border: none;
  font-size: 16px;
  line-height: 26px;
  background-color: $mainBlue;
  font-family: $montserrat;
  text-decoration: none;
  color: white;

  &:hover {
    cursor: pointer;
    outline: 2px solid white;
  }

  &:active {
    opacity: 0.2;
    cursor: pointer;
  }
}

.button__wrapper {
  display: flex;
  justify-content: space-between;
}

.button--left,
.button--right {
  box-sizing: border-box;
  min-width: 37px;
  min-height: 35px;
  max-width: 37px;
  max-height: 35px;
  padding: 5px;
  margin: 0;
  margin-left: 4px;
  background-position: center center;
  background-repeat: no-repeat;

  &:hover {
    outline: 2px solid $mainDark;
  }
}

.button--left {
  background-image: url("../img/icon-arrow-to-left.svg");
}

.button--right {
  background-image: url("../img/icon-arrow-to-right.svg");
}

@media (max-width: $tabletResolution) {
  .button {
    box-sizing: border-box;
    width: 191px;
    height: 47px;
    font-size: 14px;
    line-height: 22px;
  }

  .button--left,
  .button--right {
    width: 37px;
    height: 35px;
  }
}
