.footer {
  max-width: $maxWidthDesktop;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 33px;
  overflow-x: hidden;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.footer__logo-img {
  min-width: 211px;
}

.footer__phone-link {
  min-width: 165px;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: $mainDark;
  text-decoration: none;
  position: relative;
  left: 15px;
  top: 4px;
}

.footer__logo-link,
.footer__phone-link,
.footer__policy-link {

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__navigation-list {
  display: flex;
  justify-content: center;
  position: relative;
  top: 2px;
}

.footer__navigation-list-item {
  display: flex;
  justify-content: space-between;
  margin: 0 3%;
  position: relative;
  right: 2px;
}

.footer__navigation-list-item-link {
  color: $mainDark;

  &:hover {
    border-bottom: 1px solid $mainDark;
  }

  &:active {
    opacity: 0.2;
  }
}

.footer__navigation-list-item-link:nth-of-type(2n) {
  margin-left: 46px;
}

.footer__list {
  width: 200px;
  position: relative;
  right: -22px;
  bottom: 5px;
}

.footer__list,
.footer__policy-link {
  margin: 0 auto;
}

.footer__policy-link {
  font-size: 12px;
  line-height: 24px;
  color: $mainDark;
  text-decoration: none;
  position: relative;
  top: 12px;
}

@media (max-width: $tabletResolution) {
  .footer,
  .footer__wrapper,
  .footer__navigation-list-item {
    flex-direction: column;
  }

  .footer__wrapper {
    padding-top: 3px;
  }

  .footer__logo-link {
    margin-bottom: 18px;
  }

  .footer__logo-link img {
    width: 219px;
    height: 61px;
  }

  .footer__navigation-list {
    box-sizing: border-box;
    flex-direction: row;
    margin-bottom: 36px;
  }

  .footer__navigation-list-item {
    box-sizing: border-box;
    width: 100px;
    margin: 0 3.3%;
    padding-left: 12px;
  }

  .footer__navigation-list-item .footer__navigation-list-item-link {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
  }

  .footer__navigation-list-item:nth-of-type(2n) {
    position: relative;
    left: 10px;
  }

  .footer__navigation-list-item:nth-of-type(3n) {
    position: relative;
    left: 2px;
  }

  .footer__list {
    right: -35px;
    bottom: 1px;
  }

  .footer__phone-link {
    display: none;
  }

  .footer__policy-link {
    top: 6px;
  }
}

@media (max-width: $mobileResolution) {
  .footer__logo-link {
    margin-bottom: 17px;
  }

  .footer__navigation-list {
    width: 300px;
  }

  .footer__navigation-list-item {
    font-size: 14px;
    line-height: 22px;

    @include reset;
  }

  .footer__navigation-list-item:first-of-type {
    padding-left: 12px;
  }

  .footer__navigation-list-item:nth-of-type(2n) {
    left: 15px;
  }

  .footer__navigation-list-item:nth-of-type(3n) {
    left: 0;
  }

  .footer__list {
    right: -33px;
    bottom: 16px;
  }

  .footer__policy-link {
    top: -10px;
  }
}
