.gallery {
  width: 100%;
  overflow: hidden;
}

.gallery__wrapper {
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  margin: 0 auto;
  margin-bottom: 41px;
  padding: 0 20px;
  padding-top: 74px;
  overflow: hidden;
}

.gallery__wrapper h2,
.gallery__wrapper-header p {
  @include reset;
}

.gallery__wrapper h2 {
  padding-left: 2px;
  margin-bottom: 18px;
}

.gallery__wrapper-header .button {
  position: relative;
  top: 9px;
}

.gallery__wrapper-header p {
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 34.4%;
}

.gallery__wrapper .header-with-pseudo::after {
  padding-left: 13px;
}

.gallery__wrapper-header,
.gallery__buttons-wrapper,
.gallery__wrapper-list {
  display: flex;
  justify-content: space-between;
}

.gallery__wrapper-header p {
  width: 700px;
}

.gallery__buttons-wrapper {
  position: relative;
  top: 9px;
}

.gallery__wrapper-header a {
  font-weight: bold;
  color: black;
  text-decoration: none;

  &:hover {
    color: $mainBlue;
  }

  &:active {
    opacity: 0.2;
  }
}

.gallery__wrapper-list {
  justify-content: center;
  margin: 0 auto;
  position: relative;
  left: -197px;
}

.gallery__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: 6px;
}

.gallery__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__list-wrapper {
  min-width: 579px;
  max-width: 579px;
  margin-right: 6px;
}

.gallery__list-item:first-of-type {
  margin-right: 6px;
}

@media (max-width: $tabletResolution) {
  .gallery__wrapper {
    padding: 0 108px;
    padding-top: 81px;
    margin-bottom: 35px;
    overflow: hidden;
  }

  .gallery__wrapper h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .gallery__wrapper h2::after {
    font-size: 40px;
    line-height: 49px;
  }

  .gallery__wrapper .header-with-pseudo::after {
    padding-left: 6px;
    bottom: -5px;
  }

  .gallery__wrapper-header p {
    font-size: 14px;
    line-height: 21px;
    width: 390px;
    margin-right: 14%;
  }

  .gallery__buttons-wrapper {
    top: 19px;
    left: -3px;
  }

  .gallery__wrapper-list {
    left: 297px;
    overflow: hidden;
  }
}

@media (max-width: $mobileResolution) {
  .gallery__wrapper {
    padding: 0 20px;
    padding-top: 24px;
    margin-bottom: 33px;
  }

  .gallery__wrapper h2 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 14px;
  }

  .gallery__wrapper h2::after {
    font-size: 30px;
    line-height: 37px;
  }

  .gallery__wrapper .header-with-pseudo::after {
    bottom: 0;
  }

  .gallery__wrapper-header p {
    margin-left: 0;
    margin-right: 10%;
  }

  .gallery__buttons-wrapper {
    left: -1px;
    top: 99px;
  }

  .gallery__wrapper-list {
    justify-content: flex-start;
    left: 326px;
  }

  .gallery__list,
  .gallery__list-wrapper {
    min-width: 320px;
    max-width: 320px;
    height: 259px;
  }

  .gallery__list-wrapper {
    margin-right: 3px;
  }

  .gallery__list-item,
  .gallery__list-item:first-of-type {
    margin-right: 3px;
  }

  .gallery__list .gallery__list-item:first-of-type img {
    width: 158.5px;
    height: 259px;
  }

  .gallery__list .gallery__list-item:last-of-type .gallery__list-image-first {
    width: 158px;
    height: 103px;
  }

  .gallery__list .gallery__list-item:last-of-type .gallery__list-image-second {
    width: 158px;
    height: 153px;
    position: relative;
    top: -5px;
  }
}
