.gallery {
  width: 100%;
}

.gallery__wrapper {
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 80px;
  margin-bottom: 43px;
}

.gallery__wrapper h2,
.gallery__wrapper-header p {
  @include reset;
}

.gallery__wrapper h2 {
  padding-left: 2px;
  margin-bottom: 18px;
}

.gallery__wrapper .header-with-pseudo::after {
  padding-left: 13px;
}

.gallery__wrapper-header,
.gallery__buttons-wrapper,
.gallery__wrapper-list {
  display: flex;
  justify-content: space-between;
}

.gallery__wrapper-header p {
  width: 700px;
}

.gallery__buttons-wrapper {
  position: relative;
  top: 9px;
}

.gallery__hashtag {
  font-weight: bold;
  color: black;
  text-decoration: none;

  &:hover {
    color: $mainBlue;
  }

  &:active {
    opacity: 0.2;
  }
}

.gallery__wrapper-list {
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  left: -21px;
}

.gallery__list {
  width: 579px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-right: 6px;
}

.gallery__list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery__list-item:first-of-type {
  margin-right: 6px;
}
