.header {
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 43px 20px;
  color: white;
}

.header__logo-link {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__logo-img {
  padding-right: 15px;
}

.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 2px;
  padding-top: 2px;
}

.header__phone-link {
  display: flex;
  min-width: 165px;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: white;
  padding-left: 15px;
  position: relative;
  left: 15px;
  top: 2px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__list {
  justify-content: center;
}

.header__list-item {
  margin: 0 3%;
}

@media (max-width: $tabletResolution) {
  .header {
    padding: 36px 106px;
  }

  .header__nav {
    display: none;
  }

  .header__burger {
    margin-bottom: 14px;
    margin-left: 3px;
  }

  .header__logo-img {
    width: 144px;
    height: 41px;
    padding: 0;
  }

  .header__logo-link {
    position: relative;
    left: 78px;
    top: -4px;
  }

  .header__phone-link {
    font-size: 16px;
    line-height: 25px;
    position: relative;
    left: 32px;
    top: -5px;
  }
}

@media (max-width: $mobileResolution) {
  .header {
    padding: 13px 20px;
  }

  .header img {
    width: 108px;
    height: 30px;
  }

  .header__phone-link {
    font-size: 14px;
    line-height: 22px;
  }
}
