.header {
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 43px 20px;
  color: white;
}

.header__logo-link {
  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__logo-img {
  padding-right: 15px;
}

.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 3%;
}

.header__phone-link {
  display: flex;
  min-width: fit-content;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 30px;
  color: white;
  padding-left: 15px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.header__list {
  justify-content: space-evenly;
}

.header__list-item {
  margin: 0 1%;
}

@media (max-width: $tabletResolution) {
  .header {
    padding: 36px 106px;
  }

  .header img {
    width: 142px;
    height: 40px;
  }

  .header__nav {
    display: none;
  }

  .header__phone-link {
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: $mobileResolution) {
  .header {
    padding: 13px 20px;
  }

  .header img {
    width: 108px;
    height: 30px;
  }

  .header__phone-link {
    font-size: 14px;
    line-height: 22px;
  }
}
