.main-screen {
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  margin: 0 auto;
  color: white;
  padding: 0 20px;
  padding-top: 137px;
}

.main-screen h1,
.main-screen p {
  @include reset;
}

.main-screen h1 {
  display: block;
  position: relative;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 10px;
  margin-left: -2px;
}

.main-screen h1::after {
  content: attr(data-name) "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -13px;
  font-family: $montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 93px;
  line-height: 113px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #f5f9fc;
  opacity: 0.2;
}

.main-screen p {
  font-size: 19px;
  line-height: 28px;
  width: 468px;
  margin-bottom: 40px;
}

.main-screen__button {
  margin-bottom: 107px;
}

.main-screen .main-screen__list {
  position: relative;
  top: -5px;
  right: -8px;
  justify-content: flex-end;
}

@media (max-width: $tabletResolution) {
  .main-screen {
    padding: 0 112px;
    padding-top: 79px;
  }

  .main-screen h1 {
    width: 300px;
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 14px;
  }

  .main-screen h1::after {
    display: none;
  }

  .main-screen p {
    width: 395px;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;
  }

  .main-screen__button {
    margin-bottom: 87px;
  }

  .main-screen__list {
    position: relative;
    left: 10px;
  }
}

@media (max-width: $mobileResolution) {
  .main-screen {
    padding: 0 20px;
    padding-top: 72px;
  }

  .main-screen h1 {
    width: 230px;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 9px;
  }

  .main-screen p {
    width: 206px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 23px;
  }
}
