.questions {
  width: 100%;
  background-color: darkgreen;
  background-image: url("../img/form-background@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 296px;
  padding-bottom: 305px;
}

.questions__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
}

.questions__wrapper h2,
.questions__wrapper p,
.questions__wrapper form {
  @include reset;
  margin: 0 auto;
}

.questions__wrapper h2 {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
}

.questions__wrapper p {
  text-shadow: 0px 0px 5px #000000;
}

.questions__wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 985px;
}

.questions__wrapper form input {
  box-sizing: border-box;
  width: 354px;
  min-height: 64px;
  padding: 15px;
  padding-left: 38px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  border: 1px solid rgba(2, 102, 193, 0.112);

  &:hover,
  &:focus {
    outline: 2px solid $mainBlue;
  }
}

.form__input-wrapper {
  margin-right: 13px;
  margin-bottom: 13px;
}

.questions__wrapper form button {
  min-height: 64px;
  margin-bottom: 13px;
}
