.questions {
  width: 100%;
  background-color: darkgreen;
  background-image: url("../img/form-background@1x.jpg");
  background-position: center top 92%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 305px;
  padding-bottom: 250px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/form-background@2x.jpg");
  }

  overflow-x: hidden;
}

.questions__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
  text-align: center;
}

.questions__wrapper h2,
.questions__wrapper p,
.questions__wrapper form {
  @include reset;
  margin: 0 auto;
}

.questions__wrapper h2 {
  max-width: 80%;
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  padding-left: 6px;
  margin: 0 auto;
  margin-bottom: 9px;
  text-align: center;
}

.questions__wrapper p {
  max-width: 90%;
  text-shadow: 0 0 5px #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 42px;
}

.questions__wrapper form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 13px;
  width: 70.3%;
}

.questions__wrapper form input {
  box-sizing: border-box;
  width: 100%;
  min-height: 64px;
  padding: 15px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 24px;
  background-color: white;
  border: 1px solid rgba(2, 102, 193, 0.112);

  &:hover,
  &:focus {
    outline: 2px solid $mainBlue;
  }
}

.form__input-wrapper {
  margin-right: 13px;
  margin-bottom: 13px;
  width: 34.9%;
}

.questions__wrapper form button {
  min-height: 64px;
  margin-bottom: 13px;
  margin-left: 6px;
  width: 24.5%;
}

.questions__wrapper p br {
  display: none;
}

@media (max-width: $tabletResolution) {
  .questions {
    padding-top: 225px;
    padding-bottom: 187px;
    background-size: 205% 185%;
    background-position: right 47% top 89%;
  }

  .questions__wrapper h2 {
    font-size: 25px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 22px;
  }

  .questions__wrapper p {
    width: 380px;
    margin-bottom: 33px;
    text-align: center;
  }

  .questions__wrapper form {
    flex-direction: column;
  }

  .questions__wrapper form input,
  .questions__wrapper form button {
    width: 268px;
    box-sizing: border-box;
    min-height: 50px;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    line-height: 21px;
  }

  .questions__wrapper form button {
    margin-left: 0;
  }

  .form__input-wrapper {
    width: auto;
    margin-right: 0;
    margin-bottom: 7px;
  }
}

@media (max-width: $mobileResolution) {
  .questions {
    padding-top: 190px;
    padding-bottom: 105px;
    background-size: 450% 185%;
    background-position: right 57% top 84%;
  }

  .questions__wrapper h2 {
    margin-bottom: 20px;
    max-width: 90%;
  }

  .questions__wrapper p {
    width: 218px;
    margin-bottom: 24px;
  }

  .questions__wrapper p br {
    display: block;
  }

  .questions__wrapper form {
    padding-left: 0;
    padding-right: 28px;
    width: auto;
  }

  .questions__wrapper form input,
  .questions__wrapper form button {
    width: 268px;
  }
}
