.tours {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 7px;
}

.tours__wrapper,
.tours__buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.tours__wrapper h2 {
  @include reset;
  margin-bottom: 50px;
}

.tours__buttons-wrapper {
  width: 82px;
  margin-top: 14px;
}

.tours__list {
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 31px;

  transition-duration: 1s;
}

.tours__list-item {
  position: relative;
  color: white;
  margin-right: 21px;
  margin-bottom: 21px;
  max-width: 384px;
}

.tours__list-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 384px;
  min-height: 412px;
  padding: 21px;
  padding-top: 206px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
}

.tours__list-item-wrapper p {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  width: 242px;
  min-height: 49px;
  position: relative;

  @include reset;
  padding-bottom: 13px;
  margin-bottom: 22px;
}

.tours__list-item-wrapper p::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: -1px;
  bottom: -6px;
  width: 79px;
  height: 1px;
  background-color: white;
  opacity: 0.28;
}

.tours__list-item-inner-list {
  justify-content: flex-start;
  margin-bottom: 22px;
}

.tours__list-item-inner-list:last-of-type {
  margin-bottom: 0;
}

.tours__list-item-inner-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 4px 0;
  position: relative;
}

.tours__list-item-inner-list-item--place {
  width: 115px;
  padding-right: 7px;
  margin-right: 26px;
  background-color: $mainBlue;
  text-align: center;
}

.tours__list-item-inner-list-item--days {
  margin-right: 17px;
}

.tours__list-item:first-child .tours__list-item-inner-list-item--nights {
  position: relative;
  left: 10px
}

.tours__list-item-inner-list-item--place::before {
  content: "";
  display: inline-block;
  width: 9px;
  height: 12px;
  margin-right: 6.5px;
  background-image: url("../img/icon-map-position.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.tours__list-item-inner-list-item--days::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  background-image: url("../img/icon-sun.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.tours__list-item-inner-list-item--nights::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 7px;
  background-image: url("../img/icon-moon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item {
  flex-direction: column;
}

.tours__list-item-inner-list span {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
}

.tours__list-item-inner-list span:nth-of-type(2n) {
  font-weight: bold;
}

.tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item {
  padding: 0;
  margin-right: 45px;
  margin-left: -1px;
  justify-content: flex-start;
  align-items: flex-start;
}

.tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item span {
  margin-bottom: 5px;
}

.tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item:nth-of-type(3n) {
  margin-right: 0;
  padding-left: 4px;
}

.tours__link {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: $mainDark;
  position: relative;
  right: 10px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.tours__link::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: -26px;
  width: 20px;
  height: 20px;
  background-image: url("../img/all-tours-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: $tabletResolution) {
  .tours {
    padding: 0 113px;
  }

  .tours h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 57px;
  }

  .tours h2::after {
    font-size: 40px;
    line-height: 49px;
  }

  .tours__buttons-wrapper {
    margin-right: -2px;
    margin-top: 0;
    position: relative;
    top: 2px;
  }

  .tours__list {
    margin-bottom: 13px;
  }
}

@media (max-width: $mobileResolution) {
  .tours h2 {
    width: 156px;
    font-size: 22px;
    line-height: 27px;
  }

  .tours h2::after {
    display: none;
  }

  .tours__list-item img:first-child,
  .tours__list-item-wrapper {
    width: 281px;
  }

  .tours__list-item-inner-list {
    flex-wrap: wrap-reverse;
  }

  .tours__list-item-inner-list:last-of-type {
    flex-wrap: nowrap;
  }

  .tours__list-item-inner-list-item--days {
    position: relative;
    bottom: 53px;
    right: 38px;
  }

  .tours__list-item-inner-list-item--nights {
    margin-bottom: 20px;
  }
}

@media (max-width: $mobileResolution) {
  .tours {
    padding: 0 20px;
  }

  .tours__wrapper h2 {
    margin-bottom: 22px;
  }

  .tours__buttons-wrapper {
    margin-right: 0;
    padding-top: 11px;
  }

  .tours__list-item {
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .tours__list-item img {
    width: 281px;
  }

  .tours__list-item-inner-list-item img {
    width: 79px;
  }

  .tours__list-item-wrapper p {
    padding-top: 18px;
    margin-bottom: 21px;
  }

  .tours__list-item-wrapper p::after {
    bottom: -4px;
  }

  .tours__list-item-inner-list {
    margin-bottom: 5px;
  }

  .tours__list-item-inner-list-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .tours__list-item-inner-list-item--place {
    order: 1;

    font-size: 14px;
    line-height: 17px;
    height: 29px;
  }

  .tours__list-item-inner-list-item--nights {
    order: 2;

    position: relative;
    left: -44px;
    top: -34px;
  }

  .tours__list-item:first-child .tours__list-item-inner-list-item--nights {
    left: -44px;
  }

  .tours__list-item-inner-list-item--days {
    order: 3;

    top: -5px;
    right: -1px;
    margin-right: 0;
  }

  .tours__list-item-wrapper {
    padding: 8px;
  }

  .tours__list {
    margin-bottom: 0;
  }

  .tours__list-item-inner-list:last-of-type {
    padding-bottom: 13px;
  }

  .tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item:first-of-type {
    margin-right: 20px;
  }

  .tours__list-item-inner-list:last-of-type .tours__list-item-inner-list-item:nth-of-type(2n) {
    margin-right: 16px;
  }
}
