.training {
  width: 100%;
}

.training__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: $maxWidthDesktop;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 22px;
}

.training__wrapper h2,
.training__wrapper h3,
.training__wrapper p,
.training__wrapper-instructors h3 {
  @include reset;
}

.training__wrapper h2 {
  margin-bottom: 25px;
}

.training .header-with-pseudo::after {
  padding-left: 10px;
}

.training__wrapper p {
  box-sizing: border-box;
  width: 826px;
  padding-left: 2px;
  margin-bottom: 40px;
}

.training__wrapper p br {
  display: none;
}

.training h3,
.training__wrapper-instructors h3 {
  font-weight: bold;
  font-size: 21px;
  color: $mainDark;
}

@media (max-width: $tabletResolution) {
  .training {
    padding-top: 50px;
  }

  .training__wrapper {
    padding: 0 111px;
  }

  .training__wrapper h2 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .training__wrapper h2::after {
    font-size: 40px;
    line-height: 49px;
  }

  .training__wrapper h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .training__wrapper p:first-of-type {
    width: 480px;
    padding-left: 0;
  }
}

@media (max-width: $mobileResolution) {
  .training {
    padding-top: 25px;
  }

  .training__wrapper {
    padding: 0 20px;
  }

  .training__wrapper::after {
    width: 48%;
    margin-top: 315px;
    height: 440px;
  }

  .training__wrapper h2 {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 20px;
  }

  .training__wrapper h3 {
    font-size: 16px;
    line-height: 20px;
  }

  .training__wrapper h2::after {
    font-size: 30px;
    line-height: 37px;
  }

  .training__wrapper p,
  .training__wrapper p:first-of-type {
    width: 280px;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 48px;
  }

  .training__wrapper p br {
    display: block;
  }
}
