.wrapper {
  background-color: $mainBlue;
  background-image: url("../img/lines.svg"), url("../img/main-back@1x.jpg");
  background-repeat: repeat-y, no-repeat;
  background-size: auto, cover;
  background-position: left 50% top -20px, left top 5px;
  padding-bottom: 180px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/lines.svg"), url("../img/main-back@2x.jpg");;
  }

  min-height: 46.5vw;
  overflow-x: hidden;
}

@media (max-width: $tabletResolution) {
  .wrapper {
    background-size: 950px 812.5px, cover;
    background-position: left 47% top 14%, left 56% top 11px;
    padding-bottom: 150px;
  }
}

@media (max-width: $mobileResolution) {
  .wrapper {
    background-image: none, url("../img/main-back@1x.jpg");
    background-position: center, left 63% top;
    padding-bottom: 40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none, url("../img/main-back@2x.jpg");
    }
  }
}
