@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin sectionHeaderDesktop {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  position: relative;
  color: $mainDark;
}

@mixin sectionHeaderDesktopPseudo {
  content: attr(data-name) "";
  display: inline-block;
  position: absolute;
  width: 160%;
  left: -1%;
  bottom: -10%;
  font-weight: 800;
  font-size: 55px;
  line-height: 67px;
  color: $mainDark;
  opacity: 0.03;
}
