$montserrat: "Montserrat", "Arial", sans-serif;
$maxWidthDesktop: 1236px;
$mainBlue: #0266c1;
$mainDark: #2d383f;
$tabletResolution: 1023px;
$mobileResolution: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
